.toggleWrap {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 310px;
  height: 100vh;
  background: rgba(59, 57, 55, 0.9);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.toggleWrap::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
