.toggleWrap {
  position: fixed;
  z-index: 9999;
  top: 64px;
  left: 0;
  cursor: pointer;
  width: 50%;
  height: 100vh;
  background: rgba(59, 57, 55, 0.9);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .toggleWrap {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .toggleWrap {
    width: 100%;
  }
}
