@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";
:root{
  orange: #a9845c;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 35px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(113, 70, 27, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(62, 39, 16, 0.7);
}

.filtered-img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  filter: brightness(50%);
}
.support-img{
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}
.card-img{
  width: 100%;
  height: 70%;
  object-fit: contain;
}
.modal-img{
  width: 40%;
  height: auto;
}
.primary__btn {
  color: #fff;
  background: #a9845c;
  padding: 9px 15px;
  border-radius: 7px;
  font-size: 19px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s;
}
.primary__btn:hover{
  background: #7c5e42;
}
.primary__btn:disabled{
  background: rgba(169, 132, 92, 0.2);
  cursor: not-allowed;

}
/*modal btn*/
.modal-btn{
  width: 100%;
  margin-top: 15px;
}
.title{
  color:#3B3937;
  font-weight: 700;
  font-size: 2.7rem;
}
.css-1wcljjh-MuiCardContent-root:last-child{
  padding: 0;
}
.css-i4bv87-MuiSvgIcon-root{
  fill: #a9845c !important;
}

/*carousel*/
.alice-carousel__dots{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
}
.alice-carousel__prev-btn,.alice-carousel__next-btn{
  display: none;
}


@media screen and (max-width: 899px){
  .support-img{
    max-height: 500px;
    height: auto;
  }
  .title{
    font-size: 2rem;
  }
}

@media screen and (max-width: 1050px){
  .title{
    font-size: 2.4rem;
  }
}

